# don't keep python compiled files
__pycache__

# test imput files to be ignored
*test.txt

# ignore any storage files
*.pkl
*.json

#ignore setup py2exe thing.

setup.py
__init__.py

#ignore project files
.idea
